 .u-section-1 {
  background-image: none;
  min-height: 1280px;
}

.u-section-1 .u-group-1 {
  min-height: 151px;
  margin-top: 25px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 43px 10px 0;
}

.u-section-1 .u-list-1 {
  width: 489px;
  margin: 8px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 1056px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: none;
  margin: 0 auto;
  padding: 10px 11px 10px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 378px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 47px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}